@model IEnumerable<GTS.Gqueue.Entities.AwaitingPerson>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (!item.Dequeued)
                    {
                        <input type="button" onclick="dequeue('@item.Id')" id="btnDequeue" name="dequeue-@item.Id" value="Dequeue" class="btn btn-success" />
                    }
                    else
                    {
                        <input type="button" onclick="requeue('@item.Id')" id="btnRequeue" name="requeue-@item.Id" value="Requeue" class="btn btn-danger" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>