@model GTS.Gqueue.Entities.AwaitingPerson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Awaiting Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Queue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Queue.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dequeued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dequeued)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-route-queueId="@Model?.QueueId">Back to Awaiting People</a>
</div>
